html {
    font-family: sans-serif;
    font-size: 14pt;
}

.titel{
    font-weight: bold;
    justify-self: center;
}

.container{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto;
    align-content: stretch;
}

.items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

nav{
    grid-row: 1/span 2;
    display: gr;
    background-color: rgb(160, 0, 0);
    color: white;
    font-size: 25px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

nav img{
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

nav span{
    margin-top: auto;
    margin-bottom: auto;
}

.item{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px;
    align-items: flex-start;
}

.container img{ 
    width: 90%;
    order: 1;
    margin: 5%;
}

button{
    font-size: 0.75rem;
    background-color: rgb(180, 12, 12);
    border: none;
    border-radius: 5px;
    color: white;
    width: 90%;
    height: 30px;
    margin: 10px;
    order: 4;
    margin-top: auto;
}

.item h1 {
    margin: auto;
    order: 2;
    font-size: 1rem;
}

ul{
    margin: 5%;
    order: 3;
    font-size: 0.9rem;
}

@media print{
    .item button{
        display: none;
    }
    nav{
        display: none;
    }
}

@media (orientation: portrait){
    .container{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    nav{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        align-items: center;
    }

}

@media (max-width: 500px){
    nav {
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
    }
    nav span {
        display: none;
    }
    .fullpage-grid-container {
        grid-template-columns: auto auto;
        grid-template-rows: 55px auto;
    }
}